/*
 * @list {wrapper}
 * --theme-wrapper-PC {px}
 * --theme-wrapper-SP {px}
 */
$Layout-Inner-Width: 1100px !default;
$spLayout-Inner-Width: 800px !default;

/*
 * @list {Media Query}
 * --theme-screen-max PC {px}
 * --theme-screen-max TB {px}
 * --theme-screen-max SP {px}
 */
$media-xs-down : 576px;
$media-sm-down : 767px;
$media-md-down : 991px;
$media-lg-down : #{$Layout-Inner-Width - 1px};
$media-xl-down : #{$Layout-Inner-Width};

/*
 * @list {Media Query}
 * --theme-screen-min PC {px}
 * --theme-screen-min TB {px}
 * --theme-screen-min SP {px}
 */
$media-xs-up : 577px;
$media-sm-up : 768px;
$media-md-up : 992px;
$media-lg-up : #{$Layout-Inner-Width};


/*
 * @map {z-index}
 * --theme-header-Main
 * --theme-header-logo
 * --theme-topScroll-btn
 * --theme-spFooterFixed-item
 * --theme-spDrawer-overlay
 * --theme-spDrawer-list
 * --theme-spDrawer-btn
 */

//  call z-index: g.z(header-Main);
$z-map: (
    header-Main,
    header-hedding,
    header-navSticky, 
    topScroll-btn,
    spFooterFixed-item,
    spDrawer-overlay, 
    spDrawer-list,
    spDrawer-btn
) !default;

$zindex-dropdown: 1000 !default;
$zindex-sticky  : 1020 !default;
$zindex-fixed   : 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal   : 1050 !default;
$zindex-popover : 1060 !default;
$zindex-tooltip : 1070 !default;

/* hover */
$opacity: 0.6 !default;

/* border-radius */
$border-rd10 : 10px !default;
$border-rd50 : 50%  !default;
$border-rd100: 100%  !default;

/* transition */
$transitionAll: all 0.3s ease 0s !default;