@use "./../global"as g;

.mod-header__main {
    background-color: inherit; //theme-setting
    color: g.$color-primary;
    position: relative;
    z-index: g.z(header-Main);
    padding: 1.5rem 0;

    .mod-header__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .mod-header__logo a {
        display: block;
        font-size: 2rem;
        font-weight: 500;
        font-family: g.$logofont-family;
        line-height: 40px;
        transition: g.$transitionAll;
        z-index: g.z(header-hedding);
    }

    .mod-header__description {
        font-size: 1rem;
        margin-left: 16px;
    }
}