@use "./../global"as g;

.mod-header-nav {
    margin-left: auto;

    .mod-header-nav__list {
        display: flex;
        justify-content: flex-start;
        flex-flow: nowrap row;
        align-items: center;

        .navItem {
            padding: 8px 0;
            display: inline-block;

            a {
                padding: 0 16px;
                transition: g.$transitionAll;
                display: block;
            }
        }

        .navItem + .navItem {
            margin-left: 8px;
        }
    }
    @include g.media-screen-down (g.$media-md-down) {
        display: none;
    }
}
